@{
    var urlImagemUsuario = "/img/user.png";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de integração da folha</title>
    <link rel="icon" href="~/img/favicon.jpg">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/almox.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    @await RenderSectionAsync("css", required: false)
</head>
<body>
    @Html.AntiForgeryToken()
    <nav class="sb-topnav navbar navbar-expand navbar-light shadow-md px-3">
        <div style="display:flex;flex-grow:1;align-items:center" class="ps-3">
            <button class="btn btn-link btn-sm pt-2" id="sidebarToggle" href="#!">
                <i class="fas fa-bars text-white" style="font-size:1.25rem"></i>
            </button>
            <a class="navbar-brand ms-2 text-white">
                Almoxarifado
            </a>
        </div>
        <span class="me-3 text-white" style="color:#343a40;font-weight:200;font-size:0.95rem">
            Olá, @User?.Identity?.Name !
        </span>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="rounded-circle img-usuario" style="background-image: url('@urlImagemUsuario')"></div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item"
                           asp-action="Logout"
                           asp-controller="conta">
                            Sair
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Principal</div>
                        <a class="nav-link @Html.HoverController("Estoque")" asp-action="Index" asp-controller="Estoque">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-box-open"></i>
                            </div>
                            Estoque
                        </a>
                        <div class="sb-sidenav-menu-heading">
                            Administração
                        </div>
                        <a class="nav-link @Html.HoverController("Entrada")" asp-action="Index" asp-controller="Entrada">
                            <div class="sb-nav-link-icon">
                                <i class="fa-solid fa-circle-plus"></i>
                            </div>
                            Entradas
                        </a>
                        <a class="nav-link @Html.HoverController("Saida")" asp-action="Index" asp-controller="Saida">
                            <div class="sb-nav-link-icon">
                                <i class="fa-solid fa-circle-minus"></i>
                            </div>
                            Saídas
                        </a>
                        <a class="nav-link @Html.HoverController("Medida")" asp-action="Index" asp-controller="Medida">
                            <div class="sb-nav-link-icon">
                                <i class="fa-solid fa-weight-scale"></i>
                            </div>
                            Medidas
                        </a>
                        <div class="sb-sidenav-menu-heading">
                            Dados e informações
                        </div>
                        <a class="nav-link  @Html.HoverController("Relatorio")" asp-action="Index" asp-controller="Relatorio">
                            <div class="sb-nav-link-icon">
                                <i class="fa-regular fa-file"></i>
                            </div>
                            Relatórios
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main class="px-5 pt-4">
                @RenderBody()
            </main>
            <div id="modais"></div>
        </div>
    </div>
    <partial name="_libJS" />
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>