@{
    ViewData["Title"] = "Estoque atual";
}
@model IndexEstoqueViewModel

<div class="row justify-content-center pb-3">
    <div class="paper bg-white col-10 page-container">
        <div class="card-header mb-3 border-bottom">
            <div class="col-12 d-flex align-items-center">
                <div class="page-header">
                    <i class="page-header-icon fa-solid fa-folder"></i>
                    <h5 class="page-header-title">Estoque atual</h5>
                </div>
            </div>
        </div>
        <div class="card-body px-0 pt-2 pb-3" style="display: flex; flex-direction:column;flex-grow: 1">
            <form asp-action="index"asp-controller="estoque" method="GET">
                <div class="row justify-content-end mb-3">
                    <div class="col-12 col-lg-5 col-xl-4 mb-2 mb-xl-0">
                        <input asp-for="Query" class="form-control" placeholder="Pesquise pelo material" />
                    </div>
                    <div class="col-12 col-lg-3 col-xl-2 d-flex align-items-end">
                        <button type="submit" class="btn-block btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
            <div id="resultados" class="mt-3 mb-3">
                <div id="page-table-scroll">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Material</th>
                                <th class="text-center">Medida</th>
                                <th class="text-center">Quantidade</th>
                                <th class="text-center">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Estoques.Any())
                            {
                                @foreach (var (estoque, index) in Model.Estoques.Select((estoque, index) => (estoque, index)))
                                {
                                    <tr>
                                        <td class="text-center">@(index + 1)</td>
                                        <td class="text-center">
                                            @estoque.Material
                                        </td>
                                        <td class="text-center">@estoque.Medida</td>
                                        <td class="text-center">@estoque.Quantidade</td>
                                        <td class="text-center">
                                            <a class="btn btn-sm btn-outline-dark"
                                               asp-action="Nova"
                                               asp-controller="Saida"
                                               asp-route-estoqueId="@estoque.Id">
                                                Nova Saída
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center pt-3">
            <a onclick="history.go(-1); return false;" class="btn btn-secondary me-2">
                Voltar
            </a>
        </div>
    </div>
</div>
