@{
    Layout = null;
}
@model int

<div class="row">
    <div class="col-3">
        <span> Material </span>
        <input type="text"
               data-val="true"
               data-val-required="The Material field is required."
               id="@($"ItemEntradaModel_{Model}__Material")"
               name="@($"ItemEntradaModel_{Model}__Material")"
               value=""
               data-dashlane-rid="efee21a321562338"
               data-form-type="other">
    </div>
    <div class="col-3">
        <span> Medida </span>
        <input type="text"
               data-val="true"
               data-val-required="The Material field is required."
               id="@($"ItemEntradaModel_{Model}__Medida")"
               name="@($"ItemEntradaModel_{Model}__Medida")"
               value=""
               data-dashlane-rid="efee21a321562338"
               data-form-type="other">
    </div>
    <div class="col-3">
        <span> Quantidade </span>
        <input type="text"
               data-val="true"
               data-val-required="The Material field is required."
               id="@($"ItemEntradaModel_{Model}__Quantidade")"
               name="@($"ItemEntradaModel_{Model}__Quantidade")"
               value=""
               data-dashlane-rid="efee21a321562338"
               data-form-type="other">
    </div>
    <div class="col-3">
        <span> Valor </span>
        <input type="text"
               data-val="true"
               data-val-required="The Material field is required."
               id="@($"ItemEntradaModel_{Model}__Valor")"
               name="@($"ItemEntradaModel_{Model}__Valor")"
               value=""
               data-dashlane-rid="efee21a321562338"
               data-form-type="other">
    </div>
</div>