@{
    ViewData["Title"] = "Nova entrada";
}

@model NovaEntradaViewModel

<div class="row justify-content-center pb-3">
    <div class="paper bg-white col-8 page-container">
        <div class="card-header mb-3 border-bottom">
            <div class="col-12 d-flex align-items-center">
                <div class="page-header">
                    <i class="page-header-icon fa-solid fa-folder"></i>
                    <h5 class="page-header-title">Nova saída</h5>
                </div>
            </div>
        </div>
        <form method="post" asp-action="Nova" asp-controller="Entrada" style="display: flex; flex-direction:column;flex-grow: 1">
            <div class="card-body px-0 pt-2 pb-3">
                <div class="row mt-3">
                    <div class="col">
                        <label>Data</label>
                        <input type="date" asp-for="Data" class="form-control" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 col-sm-6">
                        <label>Fornecedor</label>
                        <input asp-for="Fornecedor" class="form-control" />
                        <span asp-validation-for="Fornecedor" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-sm-6">
                        <label>Documento Fornecedor</label>
                        <input asp-for="DocumentoFornecedor" class="form-control" />
                        <span asp-validation-for="DocumentoFornecedor" class="text-danger"></span>
                    </div>
                </div>
                @for (int i = 0; i < Model.ItensEntradaModel.Count; i++)
                {
                    <div class="row mt-3">
                        <div class="col-12 col-sm-6">
                            <label> Material </label>
                            <input asp-for="@Model.ItensEntradaModel[i].Material" class="form-control" />
                            <span asp-validation-for="@Model.ItensEntradaModel[i].Material"></span>
                        </div>
                        <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                            <span> Medida </span>
                            <select asp-for="@Model.ItensEntradaModel[i].MedidaId"
                                data-ajax--url="@Url.Action(controller:"Medida", action:"Select2")"
                                class="form-control select2-medidas"
                                data-placeholder="Pesquise pelo descrição">
                            </select>
                            <span asp-validation-for="@Model.ItensEntradaModel[i].MedidaId"></span>
                        </div>
                        <div class="col-6 col-sm-3 mt-3 mt-sm-0">
                            <span> Quantidade </span>
                            <input asp-for="@Model.ItensEntradaModel[i].Quantidade" class="form-control" />
                            <span asp-validation-for="@Model.ItensEntradaModel[i].Quantidade"></span>
                        </div>
                    </div>
                }
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center pt-3">
                <a onclick="history.go(-1); return false;" class="btn btn-secondary me-2">
                    Voltar
                </a>
                <button type="submit" class="btn btn-primary">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>

@section css {
    <partial name="_select2CSS" />
}

@section scripts {
    <partial name="_select2JS" />
    <script asp-append-version="true">
        $(document).ready(function () {
            IniciaSelect2RemotoPadrao('.select2-medidas', 0);
        });
    </script>
}